@import 'tailwindcss/base';
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom styles for react-calendar */
.react-calendar__navigation {
  @apply flex gap-6 w-max mx-auto;
}

.react-calendar__viewContainer {
  @apply w-max mx-auto;
}

.react-calendar__month-view__weekdays {
  @apply flex pb-10;
}

.react-calendar__month-view__weekdays__weekday {
  @apply text-pink-300  font-bold text-lg;
}

abbr {
  @apply no-underline uppercase;
}

.react-calendar__month-view {
  @apply flex flex-wrap gap-4;
}

.react-calendar__month-view__days {
  @apply gap-y-10;
}